<!DOCTYPE html>
<html lang="pt-pt">


<!-- molla/faq.html  22 Nov 2019 10:04:03 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Snap Buy</title>
    <meta name="keywords" content="SNAP BUY">
    <meta name="description" content="E-Commerce">
    <meta name="author" content="Tiago Jorge">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="public/images/logo_pequeno.png">
    <link rel="icon" type="image/png" sizes="32x32" href="public/images/logo_pequeno.png">
    <link rel="icon" type="image/png" sizes="16x16" href="public/images/logo_pequeno.png">
    <link rel="manifest" href="public/images/icons/site.html">
    <link rel="mask-icon" href="public/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="public/images/logo_pequeno.png">
    <meta name="apple-mobile-web-app-title" content="Snap Buy">
    <meta name="application-name" content="Snap Buy">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="public/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="public/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="public/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="public/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/skins/skin-demo-13.css">
    <link rel="stylesheet" href="public/css/demos/demo-13.css">
</head>

<body>
    <div class="page-wrapper">
        <header class="header header-10 header-intro-clearance">
         

            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Menu</span>
                            <i class="icon-bars"></i>
                        </button>
                        
                        <a href="/" class="logo">
                            <img src="public/images/demos/demo-13/logo2.png" alt="SnapbBuy Logo" width="105" height="25">
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-center">
                       
                    </div>

                    <div class="header-right">
                        <div class="header-dropdown-link">
                           
                           
                            <a href="/favoritos" class="wishlist-link">
                                <i class="icon-heart-o"></i>
                                <%if(nrFav>0){%>
                                    <span class="wishlist-count"><%=nrFav%></span>
                                   <%}%>
                                <span class="wishlist-txt">Favoritos</span>
                            </a>
                
                            <div class="dropdown cart-dropdown">
                                <a href="/cart" class="dropdown-toggle" >
                                    <i class="icon-shopping-cart"></i>
                                    <%if(nrProd>0){%>
                                    <span class="cart-count"><%=nrProd%></span>
                                   <%}%>
                                    <span class="cart-txt">Carrinho</span>
                                </a>
                            
                                <a href="/dashboard" class="wishlist-link">
                                      <i class="icon-user"></i>
                                      <span class="wishlist-txt">Conta</span>
                                  </a>
                            </div>
                        </div>

                       


                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

           
        </header><!-- End .header -->

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('public/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">F.A.Q<span>Perguntas mais frequentes</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->

            <div class="page-content">
                <div class="container">
                	<h2 class="title text-center mb-3">Informação de Envio</h2><!-- End .title -->
        			<div class="accordion accordion-rounded" id="accordion-1">
					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading-1">
					            <h2 class="card-title">
					                <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
					                    Como será feita a entrega da minha encomenda?
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse-1" id="faqInfoPergunta2" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-1">
					            <div class="card-body">
                                    A SnapBuy trabalha com várias empresas de logística confiáveis para garantir que a encomenda seja entregue da forma segura e eficiente.
                                     Após a compra, você receberá um email que permitirá acompanhar o progresso da sua encomenda.
                                </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->

					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading-2">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
					                    Tenho de pagar pela entrega? 
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-1">
					            <div class="card-body">
                                   Sim. Em alguns casos, a SnapBuy pode oferecer entrega gratuita como parte de promoções especiais. Os detalhes sobre os custos de entrega serão claramente indicados no momento da compra.
                                </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->

					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading-3">
					            <h2 class="card-title">
					                <a class="collapsed" id="faqInfoPergunta3" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
					                    Tenho de pagar taxas adicionais? 
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-1">
					            <div class="card-body">
                                    Qualquer taxa adicional, como impostos ou taxas de importação, será claramente indicada no momento da compra. A SnapBuy esforça-se para garantir transparência total em relação a todos os custos associados à sua compra.
                                </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->

					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading-4">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
					                    A minha encomenda tinha um problema, o que faço?
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-1">
					            <div class="card-body">
                                    Se a sua encomenda chegou danificada, com defeito ou não é o produto que pediu, entre em contato com o nosso serviço de atendimento ao cliente através do numero no nosso site. Estamos comprometidos em resolver o seu problema o mais rápido possível.
                                </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->
					</div><!-- End .accordion -->

                	<h2 class="title text-center mb-3" id="faqEncomendas">Encomendas</h2><!-- End .title -->
        			<div class="accordion accordion-rounded" id="accordion-2">
					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading2-1">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-1" aria-expanded="false" aria-controls="collapse2-1">
					                    Como faço o acompanhamento da encomenda após a compra?
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse2-1" class="collapse" aria-labelledby="heading2-1" data-parent="#accordion-2">
					            <div class="card-body">
                                    A cada alteração do estado da encomenda você irá um e-mail. .
                                </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->

					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading2-2">
					            <h2 class="card-title">
					                <a class="collapsed"  id="faqEncmPergunta2" role="button" data-toggle="collapse" href="#collapse2-2" aria-expanded="false" aria-controls="collapse2-2">
					                    Ainda não recebi a minha encomenda, o que devo fazer?
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse2-2" class="collapse" aria-labelledby="heading2-2" data-parent="#accordion-2">
					            <div class="card-body">
                                    Se a sua encomenda não chegou no prazo estimado, por favor, verifique os detalhes de envio fornecidos e o status da sua encomenda no email. Se ainda tiver problemas, entre em contato com o nosso serviço de atendimento ao cliente.</div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->

					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading2-3" >
					            <h2 class="card-title">
					                <a class="collapsed" id="faqEncmPergunta3" role="button" data-toggle="collapse" href="#collapse2-3" aria-expanded="false" aria-controls="collapse2-3">
					                    Qual a politica de devoluções?
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse2-3" class="collapse" aria-labelledby="heading2-3" data-parent="#accordion-2">
					            <div class="card-body">
                                    A SnapBuy tem uma política de devolução de 30 dias. Se você não estiver satisfeito com o seu produto por qualquer motivo, você pode devolvê-lo para um reembolso total dentro de 30 dias da entrega. Por favor, note que o produto deve estar em condições de novo e na embalagem original.</div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->
					</div><!-- End .accordion -->

                	<h2 class="title text-center mb-3" id="faqPagamentos">Pagamentos</h2><!-- End .title -->
                	<div class="accordion accordion-rounded" id="accordion-3">
					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading3-1">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-1" aria-expanded="false" aria-controls="collapse3-1">
					                    Quais os métodos aceites para pagamento? 
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse3-1" class="collapse" aria-labelledby="heading3-1" data-parent="#accordion-3">
					            <div class="card-body">
					            Neste momento a SnapBuy só trabalha com envios a cobrança e transferência bancária. 
                                </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->

					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading3-2">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-2" aria-expanded="false" aria-controls="collapse3-2">
					                    A SnapBuy tem Gift Cards? 
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse3-2" class="collapse" aria-labelledby="heading3-2" data-parent="#accordion-3">
					            <div class="card-body">
					            Não, neste momento a SnapBuy não possui Gift Cards. </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->

					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading3-3">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-3" aria-expanded="false" aria-controls="collapse3-3">
					                    Não consigo fazer o pagamento.
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse3-3" class="collapse" aria-labelledby="heading3-3" data-parent="#accordion-3">
					            <div class="card-body">
					            Caso esteja com dificuldades em fazer a transferência online, opte por se dirigir ao seu banco, ou opte pelo metedo de pagamento a cobrança. 
                                </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->

					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading3-4">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-4" aria-expanded="false" aria-controls="collapse3-4">
					                    Como sei se o meu pagamento foi aceite? 
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse3-4" class="collapse" aria-labelledby="heading3-4" data-parent="#accordion-3">
					            <div class="card-body">
                                    Após ser confirmado o pagamento, você receberá uma confirmação por e-mail com os detalhes da sua compra. Além disso, o status da sua encomenda será atualizado para “Aceite” na seção “Minhas Encomendas” do nosso site.
                                </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->
					</div><!-- End .accordion -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->

           
        </main><!-- End .main -->

        <footer class="footer footer-2">
           

            <div class="footer-middle border-0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="widget widget-about">
                                <!-- Aqui1-->
                                <img src="public/images/demos/demo-13/logo2.png" alt="SnapbBuy Logo" width="200" height="100">

                                <!--Aqui1-->
                                <div class="widget-about-info">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <span class="widget-about-title">Tem uma duvida?</span>
                                            <a href="tel:+351960208974">+351960208974</a>
                                        </div><!-- End .col-sm-6 -->
                                      
                                    </div><!-- End .row -->
                                </div><!-- End .widget-about-info -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-12 col-lg-3 -->
                        <!-- Aqui 3-->
                        <div class="col-sm-4 col-lg-2">
                         
                        </div><!-- End .col-sm-64 col-lg-3 -->
                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Informação</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="/sobre">Sobre Nós</a></li>
                                    <li><a href="/">Pagina Principal</a></li>
                                    <li><a href="/faq">FAQ</a></li>
                                    <li><a href="/registar">Entrar/Registar</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Apoio ao Cliente</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="/faq#faqPagamentos">Metedos de pagamento</a></li>
                                    <li><a href="/faq#faqEncmPergunta3">Politica de devoluções</a></li>
                                    <li><a href="/faq#faqEncmPergunta3">Devoluções</a></li>
                                    <li><a href="/faq#faqEncomendas">Encomendas</a></li>
                                    <li><a href="/faq#faqInfoPergunta3">Taxas</a></li>
                                    <li><a href="/faq#faqEncmPergunta2">Atrasos</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->
                        <!-- Aqui 3-->

            <div class="footer-bottom">
                <div class="container" style="display:flex;justify-content: center;">
                    <p class="footer-copyright">Copyright © 2024 SnapBuy. Todos os direitos reservados.</p><!-- End .footer-copyright -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container mobile-menu-light">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>
            

            <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab" aria-controls="mobile-cats-tab" aria-selected="false">Categorias</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel" aria-labelledby="mobile-menu-link">
                    <nav class="mobile-nav">
                        <ul class="mobile-menu">
                            <%if(login == true){%>
                            <li>
                                <a href="#edit-modal" data-toggle="modal" >Junta-te á Snap Buy!</a>

                               
                            </li>
                           <%}%>
                            <li>
                                <a href="/faq">FAQs</a>

                            </li>
                            <li>
                                <a href="/sobre">Sobre Nós</a>

                            </li>
                           
                        </ul><!-- End .menu -->
                    </nav><!-- End .mobile-nav -->
                </div><!-- .End .tab-pane -->
                <div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
                    <nav class="mobile-cats-nav">
                        <ul class="mobile-cats-menu">
                            <%let i = 0;%>
                            <%let cat = categoria;%>
                            <%while(i<cat.length){%>
                            <li><a class="mobile-cats-lead" href="/cat=<%=cat[i].id%>"><%=cat[i].nome%></a></li>
                            <%i+=1}%>
                        </ul><!-- End .mobile-cats-menu -->
                    </nav><!-- End .mobile-cats-nav -->
                </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->

        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->


    <!-- Plugins JS File -->
    <script src="public/js/jquery.min.js"></script>
    <script src="public/js/bootstrap.bundle.min.js"></script>
    <script src="public/js/jquery.hoverIntent.min.js"></script>
    <script src="public/js/jquery.waypoints.min.js"></script>
    <script src="public/js/superfish.min.js"></script>
    <script src="public/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="public/js/main.js"></script>
</body>


<!-- molla/faq.html  22 Nov 2019 10:04:04 GMT -->
</html>